.nav-badge {
	font-size: 18pt !important;
	margin-right: 40px !important;
	
}

.nav-background {
	background-color: cornflowerblue !important;
}

.carousel-slide {
	float: center;
	
}

.jumbotron {
	padding-left: 20em; 
}



.card {
	float: left;
	image-orientation: unset !important;
}

.ct-footer {
  background-color: cornflowerblue;
}